---
const links = [
    {title: 'Posts', url: `${import.meta.env.BASE_URL}`},
    {title: 'Tags', url: `${import.meta.env.BASE_URL}tags/`},
]
---
<nav>
    <a href=`${import.meta.env.BASE_URL}`>Home</a>
    <ul>
        {
        links.map(link => 
            <li>
                <a href={link.url}>{link.title}</a>
            </li>
        )
        }
        <li>
            <a class="theme">Theme</a>
        </li>
    </ul>
</nav>
<script>
    import {toggleTheme, setTheme} from '@scripts/theme'

    const switcher = document.querySelector('a.theme')!;

    const setText = (theme: string) => 
        switcher.innerHTML = (theme == 'light' ? 'Dark' : 'Light') + ' mode';

    setText(setTheme())

    switcher.addEventListener('click', () => {
        setText(toggleTheme())
    })
</script>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav:first-child {
        color: var(--green)
    }

    nav ul {
        margin: 0;

        display: flex;
        list-style: none;
    }
    
    nav a {
        display: inline-block;
        padding: 0.5em;
        text-decoration: none;
        cursor: pointer;
    }

    nav a:hover {
        text-decoration: underline;
    }
</style>
